<h2 class="edit-block-center">Create Post</h2>
<a href="/>" class=" btn btn-success">Back to Blog</a>
<br><br>
<!-- форма создания записи -->
<%= form_for :post, url: posts_path   do |f| %>  
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>   
    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body , :rows => "10"%>
    </p>   
    <p>
      <%= f.submit "Create" , :class => "btn btn-success center"%>
    </p>
<% end %>